@import "../../../styles/variables.scss";

.fundraisers-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  
  .fundraisers-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .wish{
    color: $primary-color;
    margin-bottom: 1rem;
    text-align: center;
    }

    .target{
      text-align: right;
    }
  }


#fundraisers-bar {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  background-color: grey;
  height: 2rem;
  border-radius: 0.5rem;

  #progress {
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: white;
  }
}



  #supportButton {
    margin-top: 30px;
    width: 70%;

    svg path{
      fill: #fff;
    }
  }

}

// collect.js
.fundraiser-collect{
    margin-top: 20px;

  .host-fundraiser-pay-method{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }

  .host-fundraiser__card-right{
    display: flex;
    justify-content: space-between;

    button{
      width: 48%;
    }
  }
}