@import "../../styles/variables.scss";

#change-photo-container {
  justify-content: space-between;
  flex-direction: column;

  .change-photo{
    color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;

    span{
      color: #fff;
    }

    input[type="file"]{
      display: none;
    }
  }

}