@import "styles/variables.scss";

.chatroom-chats-item-container {
  display: flex;
  align-items: center;
  width: 92%;
  height: 80px;
  margin-bottom: 15px;
  background-color: #f5ecdd;
  padding: 5px 15px;


  &.--selected{
    color: #fff;
    background-color: $fundraiser-color;
  }
  .chatroom-chats-image-container {
    margin-right: 15px;
  }


}
