@import "styles/variables.scss";

.chatroom-chats-item-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  background-color: #f5ecdd;
  padding: 5px 15px;


  &.--selected{
    color: #fff;
    background-color: $fundraiser-color;
    box-shadow: 4px 5px 2px rgba(75,41,143,0.2);

  }
  .chatroom-chats-image-container {
    margin-right: 15px;
  }


}
