@import "styles/variables.scss";

* {
  color: $font-color;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
}
.layout {
  display: flex;

  .sidebar {
    background-color: $primary-color;
    border-radius: 20px 0 0 20px;
    width: 74px;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;

    .sidebar__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      ul {
        text-align: center;

        li {
          padding: 10px 0;
          font-size: $title-size;
          line-height: 20px;

          &.--selected {
            background-color: #fff;
            border-radius: 15px 0 0 15px;
            position: relative;

            &.--selected::before,
            &.--selected::after {
              content: "";
              width: 20px;
              height: 20px;
              right: 0px;
              position: absolute;
            }

            &.--selected::before {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M0 0 Q20 0 20 20 L20 0Z" /></svg>');
              bottom: -20px;
            }

            &.--selected::after {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
              top: -20px;
            }
            span {
              color: $primary-color;
            }
            svg path {
              fill: $primary-color;
            }
          }

          span {
            color: #fff;
            font-size: 12px;
          }

          svg path {
            fill: #fff;
          }
        }
      }
    }

    .topNav {
      position: fixed;
      top: 0px;
      left: 74px;
      display: flex;
      justify-content: space-between;
      width: 95vw;
      height: 90px;
      padding: 20px 30px;
      border-bottom: 2px solid $primary-color;

      .user-profile-pic,
      .mainLogo {
        height: 100%;
      }
    }
  }

  .contents {
    position: fixed;
    left: 74px;
    top: 100px;
    padding: 30px;
  }
}
