.friend-box{
  padding: 30px;

  .search-section{
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;

    .friend-tab{
      padding-left: 20px;

      .btn button{
        padding: 0px 15px;
        margin-left: 20px;
        width: 200px;
        box-shadow: none;
        border-radius: 15px 15px 0 0;
        background-color: #e3d5b9;
        box-shadow: inset 0 -10px 10px -10px #d0c299;
  
        svg path {
          fill: #fff;
        }

        &.--selected {
          background-color: rgb(240,208,151);
          box-shadow: none;
          position: relative;

          &.--selected::before,
          &.--selected::after {
            content: "";
            width: 20px;
            height: 20px;
            bottom: 0px;
            position: absolute;
          }

          &.--selected::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(240,208,151)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
            left: -20px;
          }

          &.--selected::after {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(240,208,151)" d="M20 20 Q0 20 0 0 L0 20Z" /></svg>');
            right: -20px;
          }
        }
      }

   
    }
  }

}