@import "styles/variables.scss";

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 45%;
  min-height: 40px;
  background-color: $primary-color;
  margin: 5px;

  p{
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }
}
.my-message {
  margin-left: auto;
  justify-content: flex-end;
}

.sender-name {
  flex-direction: column;

  .group-chat-user-name {
    font-size: 16px;
    align-self: flex-start;
  }

  p{
    padding: 0;
    gap:1rem;
    align-self: self-start;
  }

  &.my-message {
    flex-direction: row;
    text-align: end;
    p {

    }
  }
}