@import "styles/variables.scss";

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 45%;
  min-height: 40px;
  background-color: $primary-color;
  margin: 5px;

  p{
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }
}
.my-message {
  margin-left: auto;
  justify-content: flex-end;
}