@import "../../styles/variables.scss";

.event-layout {
  display: flex;

  .__panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.event-left {
      width:60%;
    }

    &.event-right {
      width:40%;
      margin-left: 20px;
    }
  }

  .__card {
    width: 100%;
    display: flex;

    &.invitation {
      height: 40px;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      span{
        color: #fff;
      }
    }

    &.modification {
      height: 40px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-around;
      align-items: center;

      .modi {
        width: 47%;
      }
    }

    &.event-info {
      flex-grow: 5;
      padding: 30px;      
      margin: 20px 0;
      justify-content: center;
    }

    &.event-guest {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 30px;      
      flex-grow: 4;
    }

    &.maps-api {
      flex-grow: 5;
      justify-content: center;
      align-items: center;
      padding: 30px;      
      list-style-type: none;
    }

    &.fundraisers {
      display: flex;
      flex-grow: 3;
      padding: 30px;
    }

    &.no-fundraisers {
      display: flex;
      flex-grow: 0;
    }

    &.event-wall {
      display: flex;
      flex-grow: 1;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

  }  
}


