@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.eventGuest {
  &__item {
    @include button-inactive--opacity;
    margin-bottom: 10px;
    margin-right: 10px;

    &-image {
      width: 55px;
      height: 55px;
      overflow: hidden;
      background-position: center;
      background-size: 100%;
      border-radius: 50%;
    }

    &--selected {
      background-color: $primary-color;
      border-radius: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      user-select: none;
      padding-left: 3px;

      span{
        color: #fff;
      }
      svg path{
        fill: #fff;
      }
    }

    &--selected &-image {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    &--selected,
    &:hover {
      @include button-active--opacity;
    }
  }
}