@import "../../styles/variables.scss";

.event-layout {
  display: flex;

  .__panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.event-left {
      width:60%;
    }

    &.event-right {
      width:40%;
      margin-left: 20px;
    }
  }

  .__card {
    width: 100%;
    display: flex;

    &.invitation {
      height: 40px;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      span{
        color: #fff;
      }
    }

    &.modification {
      height: 40px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-around;
      align-items: center;

      .modi {
        width: 47%;
      }
    }

    &.event-info {
      flex-grow: 5;
      padding: 30px;      
      margin: 20px 0;
      justify-content: center;
    }

    &.event-guest {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 30px;      
      flex-grow: 4;
    }

    &.maps-api {
      flex-grow: 5;
      justify-content: center;
      align-items: center;
      padding: 30px;      
      list-style-type: none;
      margin-bottom: 20px;
    }

    &.fundraisers {
      display: flex;
      flex-grow: 3;
      padding: 30px;
    }

    &.no-fundraisers {
      display: flex;
      flex-grow: 0;
    }

    &.event-wall {
      display: flex;
      flex-grow: 1;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 30px;
      margin-top: 20px;

      a{
        display: block;
        width: 100%;

        button{
        width: 100%;
        }
      }
    }

  }  
}

// EventList.js
.eventListButtons{
  margin-bottom: 30px;

  button{
    margin-right: 2px;
    height: 50px;
    width: 200px;
    box-shadow: none;
    border-radius: 15px 15px 0 0;
    border: none;
    font-size: $font-size;

    svg {
      font-size: 14px;
    }
        
    &.--selected {
      color: #fff;
      position: relative;

      path {
      fill: #fff;
      }
    }
    &.--selected::before,
    &.--selected::after {
      content: "";
      width: 20px;
      height: 20px;
      bottom: 0px;
      position: absolute;
    }

    &.hosting{
      background-color: #b8dbe1;
      box-shadow: inset 0 -10px 10px -10px #79a7b0;

      &.--selected {
        background-color: $primary-color;
      box-shadow: none;

        &.--selected::after {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(105, 202, 218)" d="M20 20 Q0 20 0 0 L0 20Z" /></svg>');
          right: -20px;
        }
      }
    }

    &.attending{
      background-color: #f6cbbe;
      box-shadow: inset 0 -10px 10px -10px #c29183;
      
      &.--selected {
        background-color: rgb(251, 156, 128);
      box-shadow: none;
  
        &.--selected::before {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(251, 156, 128)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
          left: -20px;
        }
  
        &.--selected::after {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(251, 156, 128)" d="M20 20 Q0 20 0 0 L0 20Z" /></svg>');
          right: -20px;
        }
      }
    }

    &.history{
      background-color: #e3d5b9;
      box-shadow: inset 0 -10px 10px -10px #d0c299;

      &.--selected {
      background-color: rgb(240,208,151);
      box-shadow: none;

      &.--selected::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(240,208,151)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
        left: -20px;
      }

      &.--selected::after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(240,208,151)" d="M20 20 Q0 20 0 0 L0 20Z" /></svg>');
        right: -20px;
      }
    }
    }

    &.allEvent{
      background-color: #ced7f5;
      box-shadow: inset 0 -10px 10px -10px #98a5d1;
      
      &.--selected {
      background-color: rgb(170, 186, 245);
      box-shadow: none;

      &.--selected::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(170, 186, 245)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
        left: -20px;
      }

      &.--selected::after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(170, 186, 245)" d="M20 20 Q0 20 0 0 L0 20Z" /></svg>');
        right: -20px;
      }
    }
    }
    &.upcoming{
      margin-right: 0px;
      background-color: #c19e9e;
      box-shadow: inset 0 -10px 10px -10px #a26464;

      &.--selected {
      background-color: rgb(124, 8, 8);
      box-shadow: none;

      &.--selected::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(124, 8, 8)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
        left: -20px;
      }

    }
    }

    

  }
}
