@import "../../styles/variables.scss";

.eventGuest {

  display: flex;

  &__header {
    color: $primary-color;
    margin-bottom: 0.5rem;
    font-size: $title-size;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
  }
}