.event-layout {
  margin-left: 5rem;
  margin-top: 20vh;
  border-radius: 0.5rem;
  border-color: black;
  padding: 1.2rem 1.5rem;
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.__panel {

  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.event-left {
    width:60%;
  }

  &.event-right {
    width:40%;
  }
}

.__card {
  width: 100%;
  background: rgb(211, 211, 211);
  border-radius: 10px;
  display: flex;



  &.invitation {
    margin-bottom: 1rem;
    flex-grow: 1;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

  &.event-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow: 5;

  }

  &.event-guest {
    margin-top: 1rem;
    flex-grow: 4;

  }

  &.maps-api {
    margin-bottom: 1rem;
    flex-grow: 5;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

  &.fundraisers {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-grow: 3;

  }

  &.event-wall {
    margin-top: 1rem;
    display: flex;
    flex-grow: 1;
  }

}