@import "../../styles/variables.scss";

.eventGuest {

  display: flex;

  &__header {
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
  }
}