@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.info-layout{
  font-size: $title-size;
  display: flex;
  flex-direction: column;

.-img {
  width: 200px;
  height: 200px;
  margin: 1rem;
  border-radius: 100px;

  &:hover {
    @include button-active--opacity;
  }
}

.info-host {
  display: flex;
  flex-direction: row;

  .host-name{

  }
}

.info-meet{
  display: flex;
  flex-direction: column;
  text-align: center;
    
}


}