@import "../../styles/variables.scss";

.fundraisers-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: $title-size;
  
  .fundraisers-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


#fundraisers-bar {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  align-items: center;
  width: 80%;
  background-color: grey;
  height: 2rem;
  border-radius: 0.5rem;
}

#progress {
  height: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 30px;
  color: white;
}

  #suppotButton {
    width: 70%;
  }

}

