$font-stack: 'Nanum Gothic', sans-serif;
$primary-color: #69cada;
$box-color: #f4f5f9;
$fundraiser-color: #f0d097;
$point-color: #fb9c80;
$warning-color: #814635;
$font-color: #777777;
$title-color: #1a1a1a;
$font-size: 16px;
$title-size: 24px;