@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.Guest {
  &__item {
    @include button-inactive--opacity;
    margin-right: 10px;


    &--selected {
      color: $box-color;
      background-color: $primary-color;
      border-radius: 26px;
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0 2px;
      user-select: none;
      @include button-active--opacity;

      :hover {
        @include button-active--opacity;
      }

      .thumbnail{
        margin-right: 10px;
      }
    }

  }

}  

.-icon {
  margin: 0.5rem;
  font-size:  $middle-size;

  path{
    fill: #fff;
  }
}