@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.Guest {
  &__item {
    @include button-inactive--opacity;

    margin-right: 0.5rem;

    &-image {
      width: 50px;
      height: 50px;
      margin-right: 0.5rem;
      border-radius: 25px;
    }

    &--selected {
      color: $box-color;
      background-color: $primary-color;
      font-size: $title-size;
      border-radius: 25px;
      height: 50px;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      user-select: none;
    }

    &--selected &-image {
      width: 50px;
      height: 50px;
      margin-right: 0.5rem;
    }

    &--selected,
    &:hover {
      @include button-active--opacity;
    }

  }

}  

.-icon {
      margin: 0.5rem;
      font-size:  $title-size;
    }