@import "../../../styles/variables.scss";

.search-input{
  position: relative;
  padding: 30px;
  background-color: $primary-color;

  span{
    position: absolute;
    top: 46px;
    right: 60px;
  }
  
  input{
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 20px;
  }
}